.menu-pg .tab-menu-list {
  position: relative;
  background-color: var(--bg-color);
}

.menu-pg .tabs {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  width: 60%;
}

.menu-pg .tab-menu {
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  position: relative;
}

.menu-pg .tabs span {
  position: absolute;
  bottom: -60px;
  font-family: var(--font-amatic);
  font-size: 40px;
  color: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
}


.menu-pg .tab-menu.active {
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
}

.menu-pg .content {
  padding: 0;
  padding: 190px 0 120px;
}

.content .food-img {
  width: 20%;
}

.content .d-flex {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 80px;
}

.food-img img {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.food-img {
  position: relative;
}

.food-img span {
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--font-amatic);
  color: var(--primary-color);
  font-size: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .menu-pg .tab-menu {
    width: 80px;
    height: 80px;
    padding: 0.781vw;
  }

  .menu-pg .tabs {
    width: 80%;
    top: -27px;
  }

  .menu-pg .tabs span {
    font-size: 3vw;
    bottom: -45px;
  }

  .content .food-img {
    width: 20%;
  }

  .food-img span {
    height: 3.203vw;
    width: 17.188vw;
    padding: 0;
    font-size: 2.344vw;
  }

  .menu-pg .content {
    padding: 12.188vw 0 9.375vw;
  }

  .content .d-flex {
    justify-content: flex-start;
    gap: 41px;
  }
}

@media screen and (max-width: 767.9px) {
  .menu-pg .tab-menu {
    width: 10.417vw;
    height: 10.417vw;
    padding: 1.651vw;
  }

  .menu-pg .tabs {
    width: 90%;
    top: -27px;
  }

  .menu-pg .tabs span {
    bottom: -40px;
    font-size: 4vw;
  }

  .content .food-img {
    width: 40%;
  }

  .food-img span {
    width: 28.646vw;
    font-size: 4vw;
  }

  .menu-pg .content {
    padding: 50px 0;
  }

  .content .d-flex {
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .menu-pg .content {
    padding: 20.313vw 0 15.625vw;
  }

  .content .d-flex {
    justify-content: space-between;
  }

}
